@echo off

rem If you change the path below, you also have to adjust the dsp file.
set svn_home=.\subversion

rem Subversion dependencies
set apr_base=.
set apr_home=%apr_base%\apr
set apu_home=%apr_base%\apr-util
set api_home=%apr_base%\apr-iconv

set neon_home=neon
